#add-task-form {
  display: none;
}

#new-project-form {
  display: none;
}

#new-project-button {
  display: block;
}

.hidden-list {
  display: none;
}

.shown-list {
  display: block;
}

.to-do-item-title {
  font-size: 24px;
}

.to-do-item {
  background: grey;
  margin: 10px;
  padding: 10px;
}

#lists {
  display: flex;
}

.project {
  padding: 5px;
}

* {
  text-decoration: none;
}